<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <br>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <br>
  </div>

  <%= f.collection_select :user_id, User.all, :id, :name, prompt: “Select User” %>
  <%= f.collection_select :status_id, Status.all, :id, :name, prompt: “Select Status” %>

  <br>

  <div>
    <%= form.submit %><br>
  </div>
<% end %>